#modal-component {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background: $bg-1-transparent;
    display: grid;
    z-index: 10;

    .small {
        width: 280px;
        margin: 10px;
        max-height: 600px;
    }

    #modal-panel {
        position: relative;
        max-height: 90vh;
        overflow: auto;
        @include display-panel;

        a {color: $txt-primary;}
        a:visited {color: $txt-primary;}
        a:hover {color: $txt-primary;}
        a:active {color: $txt-primary;}

        #close-button {
            position: absolute;
            right: 12px;
            top: 12px;
            width: 40px;
            height: 40px;
            cursor: pointer;
            stroke: $icon-primary;
        }

        .title {
            text-align: center;
            font-size: 24px;
            margin: 20px 40px;
        }

        .button {
            @include display-panel-selectable;
            margin: 12px;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }

        .info {
            margin: 10px;
        }

        .centered {
            text-align: center;
        }

        .italic {
            font-style: italic;
        }

        .info.bold {
            font-size: 20px;
            font-weight: bold;
        }
        
        .img-frame {
            display: grid;

            svg {
                margin: auto;
            }

            img {
                margin: auto;
            }
        }

        .button-panel {
            display: flex;
            div {
                @include display-panel-selectable;
                height: 40px;
                flex: 1;
                margin: 10px;
                text-align: center;
                line-height: 40px;
            }
        }
    }
}
